.home {
  background-image: url('../assets/images/ko-1.png');
  background-position: left;
  background-repeat: no-repeat;
  background-size: 100vh;
  height: 60vh;
}

.intro {
  position: absolute;
  color: #FFF;
  height: 60vh;
  text-align: center;
}

.hide {
  display: none;
}

.color-white {
  color: #fff;
}

.form-control {
  color: #D7FF2D!important;
  background-color: #000!important;
  border: 1px solid #D7FF2D!important;
}

.button-send {
  background-color: #000;
  border: 1px solid #32FFC7!important;
  color: #fff;
}

.button-send:hover {
  background-color: #32FFC7;
  border: 1px solid #32FFC7!important;
  color: #000;
}

.aside {
  background-color: black;
  color: white;
  height: 40vh;
  margin-top: 60vh;
  padding: 2em;
  text-align: justify;
  width: 100vw;
}

.dwn-yellow, .dropdown-menu {
  border: 1px solid #D7FF2D;
  background-color: transparent;
  color: #FFF;
}

.btn:focus {
  box-shadow: none;
}

.dropdown-item, .dropdown-menu {
  color: #FFF;
  background-color: black;
}

.btn-yellow {
  background-color: #D7FF2D;
  border: 1px solid #D7FF2D;
  width: 5em;
  margin: 1em;
}


@media (min-width: 768px) {
  .home {
    background-position: center;
    background-size: 100%;
    height: 100vh;
  }

  .aside {
    height: 100vh;
    margin-top: 0;
    overflow: scroll;
    overflow-x: hidden;
    padding: 3em;
    position: absolute;
    right: 0;
    width: 35vw;
  }
}